@import url('https://fonts.googleapis.com/css?family=Karla|Rubik&display=swap');


// VARIABLES
$black: #000000;
$blue: #226089;
$aqua: #4592af;
$tan: #4592af;
$primary-color: $blue;
$secondary-color: $aqua;

//Typogrpahy
$family-sans-serif: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-primary: 'Rubik', $family-sans-serif;
$family-secondary: 'Karla', sans-serif;